In [1]:
import pandas as pd

# PATH = 'data/results/full_gold_run/en_gold_all.csv'
# PATH = '../data/results/seq2seq/eval/results_eval_silver_and_gold.csv'
PATH = '../data/results/rewrite/eval/results_eval_stanza.csv'

df = pd.read_csv(PATH)

In [2]:
len(df)

828

In [8]:
# Best scoring sentences
df.sort_values('f1_lenient', ascending=False).head(20)

,pmb_id,source,raw_sent,sbn_str,error,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
564,en/p90/d1578,SEQ2SEQ,Tom did the dishes for Mary.,"male.n.02 Name ""Tom""\ndo.v.02 Agent -1 T...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
448,en/p70/d1523,SEQ2SEQ,His wife was killed in the accident.,male.n.02\nperson.n.01 Role +1\nwife.n.01 ...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
436,en/p70/d2452,SEQ2SEQ,Are you ready?,time.n.08 EQU now\nperson.n.01 EQU hearer\nr...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
249,en/p50/d2082,SEQ2SEQ,Dan was approached by Linda.,"male.n.02 Name ""Dan""\ntime.n.08 TPR no...",NaN,0.967742,0.967742,0.967742,1.0,1.0,1.0
248,en/p50/d2240,SEQ2SEQ,Tom was 30 years old.,"male.n.02 Name ""Tom""\ntime.n.08 TPR now\...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
247,en/p50/d2598,SEQ2SEQ,I was very tired today.,person.n.01 EQU speaker\ntime.n.08 ...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
721,en/p80/d0854,SEQ2SEQ,"He is a good boy, and he is very strong.",male.n.02\nbe.v.01 Theme -1 Time +1 Co-Th...,NaN,0.983871,0.983871,0.983871,1.0,1.0,1.0
245,en/p50/d2502,SEQ2SEQ,Tom hates Halloween.,"male.n.02 Name ""Tom""\nhate.v.01 Experiencer -1...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
244,en/p50/d2499,SEQ2SEQ,Emily will surprise me.,"female.n.02 Name ""Emily""\ntime.n.08 TSU ...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
437,en/p70/d1849,SEQ2SEQ,She speaks German.,female.n.02\nspeak.v.03 Agent -1 Time +1 Them...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
438,en/p70/d0022,SEQ2SEQ,A person is drinking orange juice and walking,person.n.01\ntime.n.08 EQU now\ndrink....,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
241,en/p50/d2578,SEQ2SEQ,Your friend's in the other room.,person.n.01 Role +1\nfriend.n.01 Of hearer\nbe...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
240,en/p50/d3301,SEQ2SEQ,None of those books are useful.,NEGATION -1\nentity.n.01 SubOf +1\nbook.n.0...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
239,en/p50/d3482,SEQ2SEQ,Dan is a linguist.,"male.n.02 Name ""Dan""\nbe.v.08 Theme ...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
725,en/p80/d3469,SEQ2SEQ,They're beautiful.,person.n.01\ntime.n.08 EQU now\nbeautiful...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
439,en/p70/d1416,SEQ2SEQ,I ate an apple.,person.n.01 EQU speaker\neat.v.01 Agent -1 ...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
236,en/p50/d3112,SEQ2SEQ,I pulled a muscle.,person.n.01 EQU speaker\npull.v.08 Agent -1 ...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
440,en/p70/d1901,SEQ2SEQ,Tom's hungry.,"male.n.02 Name ""Tom""\ntime.n.08 EQU now\nh...",NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0
624,en/p90/d1594,SEQ2SEQ,I am eating a cucumber.,person.n.01 EQU speaker\ntime.n.08 EQU n...,NaN,0.965517,0.965517,0.965517,1.0,1.0,1.0
442,en/p70/d1822,SEQ2SEQ,This bridge is made of wood.,bridge.n.01\ntime.n.08 EQU now\nmake.v.06 ...,NaN,1.000000,1.000000,1.000000,1.0,1.0,1.0

In [9]:
df[df.f1_lenient > .8]

,pmb_id,source,raw_sent,sbn_str,error,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
0,en/p60/d0799,SEQ2SEQ,I assure you that an error like this will neve...,person.n.01 EQU speaker\npromise.v.01 Agent -...,NaN,0.933333,0.933333,0.933333,0.942308,0.942308,0.942308
1,en/p60/d0927,SEQ2SEQ,This is so depressing.,entity.n.01\ntime.n.08 EQU now\nso.r.01\ni...,NaN,0.925926,0.925926,0.925926,0.913043,0.913043,0.913043
2,en/p60/d1940,SEQ2SEQ,This expedition will be expensive.,costume.n.01\ntime.n.08 TSU now\nexpensiv...,NaN,0.904762,0.904762,0.904762,0.944444,0.944444,0.944444
3,en/p60/d0715,SEQ2SEQ,David Cameron belongs to the U.K. Conservative...,"male.n.02 Name ""David Cameron""\nbelong.v.05...",NaN,0.974359,0.974359,0.974359,0.970588,0.970588,0.970588
4,en/p60/d3520,SEQ2SEQ,Daniel Gabriel Fahrenheit was born in 1686 in ...,"male.n.02 Name ""Johann Wolfgang von Goethe""\nt...",NaN,0.935484,0.878788,0.906250,0.925926,0.862069,0.892857
...,...,...,...,...,...,...,...,...,...,...,...
823,en/p80/d3143,SEQ2SEQ,Tom has three sons.,"male.n.02 Name ""Tom""\nhave.v.01 Pivot -1 T...",NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
824,en/p80/d1880,SEQ2SEQ,Tom is a bit crazy.,"male.n.02 Name ""Tom""\ntime.n.08 EQU now\...",NaN,0.967742,0.967742,0.967742,0.962963,0.962963,0.962963
825,en/p80/d0826,SEQ2SEQ,We ran out of food.,person.n.01 EQU speaker\nrun_out.v.01 Source ...,NaN,0.965517,0.965517,0.965517,1.000000,1.000000,1.000000
826,en/p80/d2267,SEQ2SEQ,He is knitting a scarf.,male.n.02\ntime.n.08 EQU now\nknit.v.01 ...,NaN,0.962963,0.962963,0.962963,0.956522,0.956522,0.956522
827,en/p80/d1537,SEQ2SEQ,She took off her old shoes and put on the new ...,female.n.02\ntake_off.v.02 Agent -1 Time +1 Th...,NaN,0.968254,0.968254,0.968254,0.981481,0.981481,0.981481

In [10]:
# Worst scoring sentences
# df.sort_values('f1_lenient', ascending=True).head(50).to_csv('test.csv', index=False)
df.sort_values('f1', ascending=True).head(50)

,pmb_id,source,raw_sent,sbn_str,error,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
83,en/p60/d2345,SEQ2SEQ,"I thought that guy had a gun, so I shot him.",person.n.01 EQU speaker\nthink.v.01 Agent -...,NaN,0.283951,0.920000,0.433962,0.285714,0.909091,0.434783
332,en/p50/d2289,SEQ2SEQ,Holy smokes.,event.v.01 Participant +2\nfucking.a.01 Attr...,NaN,0.578947,0.478261,0.523810,0.625000,0.500000,0.555556
517,en/p70/d0764,SEQ2SEQ,Victor Emmanuel III was king of Italy from 190...,"male.n.02 Name ""Johann Wolfgang von Goethe""...",NaN,0.742857,0.440678,0.553191,0.741935,0.450980,0.560976
143,en/p60/d2783,SEQ2SEQ,"""Where is my classroom?"" ""It's on the third fl...",person.n.01 EQU ?\nbe.v.02 Theme -1 ...,NaN,0.771429,0.435484,0.556701,0.774194,0.444444,0.564706
763,en/p80/d3313,SEQ2SEQ,I'm all alone.,person.n.01 EQU speaker\nNEGATION -1\nentit...,NaN,0.575758,0.655172,0.612903,0.551724,0.640000,0.592593
716,en/p80/d0928,SEQ2SEQ,There was an abandoned car by the river.,car.n.01 EQU +2 Location +3 TPR now\ndesert...,NaN,0.772727,0.515152,0.618182,0.736842,0.500000,0.595745
794,en/p80/d2803,SEQ2SEQ,Is there a washing machine in the house?,washing_machine.n.01 Location +1 EQU now\nhous...,NaN,0.866667,0.481481,0.619048,0.846154,0.478261,0.611111
609,en/p90/d0884,SEQ2SEQ,I am Jorge.,person.n.01 EQU speaker EQU +1\nmale.n.02 Na...,NaN,0.882353,0.483871,0.625000,0.866667,0.481481,0.619048
642,en/p90/d3171,SEQ2SEQ,He said that he grew up in Tunisia.,male.n.02\nsay.v.01 Agent -1 Time +1 Locat...,NaN,0.896552,0.500000,0.641975,0.920000,0.511111,0.657143
252,en/p50/d2474,SEQ2SEQ,Naoki was poor and lived in a cabin.,"male.n.02 Name ""Naoki""\ntime.n.08 TPR ...",NaN,0.800000,0.538462,0.643678,0.866667,0.577778,0.693333
732,en/p80/d2136,SEQ2SEQ,"As soon as Tom heard the phone, he answered it.","soon.r.01\nmale.n.02 Name ""Tom""\nhear.v.01 ...",NaN,0.531250,0.918919,0.673267,0.527273,0.906250,0.666667
386,en/p70/d3266,SEQ2SEQ,How's Tom?,"reason.n.01 EQU ?\nmale.n.02 Name ""Tom"" EQU ...",NaN,0.789474,0.600000,0.681818,0.764706,0.590909,0.666667
504,en/p70/d1751,SEQ2SEQ,There's a place called Kuchiwa in Hiroshima.,be.v.03 Time +1 Theme +2 Location +3\ntim...,NaN,0.862069,0.581395,0.694444,0.880000,0.594595,0.709677
633,en/p90/d2405,SEQ2SEQ,That's something special.,entity.n.01\ntime.n.08 EQU now\nentity.n.01 ...,NaN,0.904762,0.575758,0.703704,0.888889,0.571429,0.695652
709,en/p90/d0064,SEQ2SEQ,General elections were held in Chile on 30 Oct...,general_election.n.01\nhold.v.01 T...,NaN,0.880435,0.595588,0.710526,0.875000,0.593220,0.707071
518,en/p70/d3207,SEQ2SEQ,We should drink 64 ounces of fluids a day.,person.n.01 EQU speaker\nNECESSITY -1\ndri...,NaN,0.810811,0.638298,0.714286,0.812500,0.634146,0.712329
441,en/p70/d1588,SEQ2SEQ,That band comes to our town tomorrow.,band.n.05\ncome.v.02 Theme -1 Time +1 Destinat...,NaN,0.965517,0.571429,0.717949,1.000000,0.595238,0.746269
739,en/p80/d1409,SEQ2SEQ,"My name's not 'girl,' either.",name.n.01 User speaker\nNEGATION -1\nbe.v.06 ...,NaN,0.840000,0.636364,0.724138,0.863636,0.655172,0.745098
809,en/p80/d0554,SEQ2SEQ,\nNepal's government and the non- profit World...,"country.n.02 Name ""Nepal""\ngovernment...",NaN,0.843373,0.642202,0.729167,0.845070,0.645161,0.731707
35,en/p60/d0912,SEQ2SEQ,Her fiancé gave her a very big ring.,"female.n.02 Name ""Thomas"" Title -1\ngive.v.03 ...",NaN,0.813953,0.673077,0.736842,0.837838,0.704545,0.765432
572,en/p90/d2287,SEQ2SEQ,He went instead of his dad.,male.n.02\ngo.v.01 Theme -1 Time +1\ntime....,NaN,0.909091,0.625000,0.740741,0.892857,0.609756,0.724638
480,en/p70/d0833,SEQ2SEQ,All that he says is true.,entity.n.01\nmale.n.02\nsay.v.01 Topic -2 A...,NaN,0.857143,0.652174,0.740741,0.833333,0.625000,0.714286
328,en/p50/d2706,SEQ2SEQ,She was robbed of her money on her way home.,time.n.08 TPR now\nrob.v.01 Time -1 Source ...,NaN,0.823529,0.682927,0.746667,0.827586,0.685714,0.750000
84,en/p60/d1977,SEQ2SEQ,Tom and Mary stopped and picked up a hitchhiker.,"male.n.02 Name ""Tom""\nentity.n.01 Sub -1 S...",NaN,0.877551,0.651515,0.747826,0.904762,0.666667,0.767677
770,en/p80/d2175,SEQ2SEQ,"Ah, I forgot my mobile phone.",say.v.01 Agent speaker Theme +1\nouch...,NaN,0.630435,0.935484,0.753247,0.650000,0.962963,0.776119
551,en/p90/d3103,SEQ2SEQ,I look down on liars and cheats.,person.n.01 EQU speaker\nlook_down_on.v....,NaN,0.724138,0.792453,0.756757,0.720000,0.800000,0.757895
761,en/p80/d3392,SEQ2SEQ,The one who did it was Éamonn.,person.n.01\ndo.v.02 Agent -1 Time +1 Them...,NaN,0.931034,0.642857,0.760563,0.920000,0.638889,0.754098
371,en/p70/d3280,SEQ2SEQ,He tries.,male.n.02\ntry.v.01 Agent -1 Time +1\ntime.n....,NaN,0.619048,1.000000,0.764706,0.611111,1.000000,0.758621
750,en/p80/d1816,SEQ2SEQ,The boy is playing with his toy soldiers.,boy.n.01\ntime.n.08 EQU now\nplay.v.05 Agent -...,NaN,0.885714,0.673913,0.765432,0.866667,0.666667,0.753623
652,en/p90/d2854,SEQ2SEQ,"She was born at six a.m. on July 17, 1990.",female.n.02\ntime.n.08 ClockTime 06:00 TPR n...,NaN,0.741935,0.793103,0.766667,0.740741,0.769231,0.754717
524,en/p90/d2599,SEQ2SEQ,Those plans seem much alike to me.,entity.n.01\nseem.v.01 Theme -1 Time +1 Attr...,NaN,0.750000,0.785714,0.767442,0.710526,0.750000,0.729730
657,en/p90/d2014,SEQ2SEQ,I am Bulgarian.,person.n.01 EQU speaker\ntime.n.08 EQU now...,NaN,0.913043,0.677419,0.777778,0.900000,0.666667,0.765957
606,en/p90/d3041,SEQ2SEQ,She pouted when she was told to wash the dishes.,female.n.02\nburp.v.01 Agent -1 Time +1\ntim...,NaN,0.857143,0.714286,0.779221,0.866667,0.722222,0.787879
64,en/p60/d3327,SEQ2SEQ,You're not my girlfriend anymore.,person.n.01 EQU hearer\nNEGATION ...,NaN,0.775000,0.794872,0.784810,0.800000,0.823529,0.811594
793,en/p80/d1745,SEQ2SEQ,That cut looks infected.,entity.n.01\nlook.v.01 Theme -1 Time +1 Attr...,NaN,0.785714,0.785714,0.785714,0.875000,0.875000,0.875000
76,en/p60/d2122,SEQ2SEQ,I found some dried salted beef.,person.n.01 EQU speaker\nfind.v.03 Agent -1 ...,NaN,0.857143,0.731707,0.789474,0.933333,0.800000,0.861538
601,en/p90/d2046,SEQ2SEQ,Approximately seven billion people inhabit our...,quantity.n.01 APX +1\nquantity.n.01 EQU 7\...,NaN,0.885714,0.720930,0.794872,0.866667,0.702703,0.776119
587,en/p90/d2566,SEQ2SEQ,The street was bustling with shoppers.,street.n.01\ntime.n.08 TPR now\ncrawl.v.03 ...,NaN,0.888889,0.727273,0.800000,0.913043,0.750000,0.823529
759,en/p80/d3358,SEQ2SEQ,She is aged seventeen.,female.n.02 Attribute +2\ntime.n.08 EQU no...,NaN,0.774194,0.827586,0.800000,0.814815,0.880000,0.846154
112,en/p60/d1591,SEQ2SEQ,She is bustling about in the kitchen.,female.n.02\ntime.n.08 EQU now\ndoze_off.v...,NaN,0.727273,0.888889,0.800000,0.714286,0.869565,0.784314
575,en/p90/d2729,SEQ2SEQ,"The little girl, deeply moved by the old man's...",little.a.03 AttributeOf +1\ngirl.n.01\ndeeply...,NaN,0.759494,0.845070,0.800000,0.791045,0.883333,0.834646
574,en/p90/d3243,SEQ2SEQ,Today I have neck pain.,day.n.03\ntime.n.08 TIN -1 EQU now\nper...,NaN,0.878049,0.734694,0.800000,0.885714,0.738095,0.805195
785,en/p80/d3459,SEQ2SEQ,This classroom can accommodate only thirty stu...,classroom.n.01\nPOSSIBILITY -1\naccommoda...,NaN,0.965517,0.682927,0.800000,0.960000,0.685714,0.800000
432,en/p70/d2543,SEQ2SEQ,Polish nails are more expensive than the Chine...,pillow.n.01\ntime.n.08 EQU now\nmore.r.01...,NaN,0.880952,0.740000,0.804348,0.916667,0.767442,0.835443
591,en/p90/d3283,SEQ2SEQ,Something I hadn't anticipated happened.,entity.n.01\nperson.n.01 EQU speaker\nexpect.v...,NaN,0.916667,0.717391,0.804878,0.935484,0.725000,0.816901
366,en/p70/d0849,SEQ2SEQ,She took care of his wound.,female.n.02\ntake.v.01 Agent -1 Time +1 Them...,NaN,0.743590,0.878788,0.805556,0.757576,0.892857,0.819672
78,en/p60/d1748,SEQ2SEQ,The bank was run by private citizens.,bank.n.02\ntime.n.08 TPR now\nrun_over.v.0...,NaN,0.743590,0.878788,0.805556,0.757576,0.892857,0.819672
812,en/p80/d2813,SEQ2SEQ,He ordered us steaks.,male.n.02\norder.v.02 Agent -1 Time +1 Them...,NaN,0.925926,0.714286,0.806452,0.956522,0.733333,0.830189
740,en/p80/d3385,SEQ2SEQ,Tom has insomnia.,"male.n.02 Name ""Tom""\ntime.n.08 EQU no...",NaN,0.913043,0.724138,0.807692,0.900000,0.720000,0.800000
38,en/p60/d1929,SEQ2SEQ,What a great place!,be.v.01 Theme +1 Co-Theme +3\nentity.n.01...,NaN,0.777778,0.840000,0.807692,0.782609,0.857143,0.818182

In [11]:
# Get long sentences that score high
df.sort_values("raw_sent", key=lambda x: x.str.len(), ascending=False) \
    .head(200) \
    .sort_values('f1_lenient', ascending=False) \
    [['pmb_id', 'raw_sent', 'f1', 'f1_lenient']]

,pmb_id,raw_sent,f1,f1_lenient
207,en/p50/d1728,A fire broke out in the middle of the city.,1.0,1.0
219,en/p50/d3042,That boy speaking English is taller than me.,1.0,1.0
690,en/p80/d1957,Mary whispered something in Tom's ear.,1.0,1.0
131,en/p60/d0809,There are lots of animals in the park.,1.0,1.0
471,en/p70/d1381,What is the world's second largest island?,1.0,1.0
...,...,...,...,...
485,en/p70/d2783,The man dancing on the stage is my uncle.,NaN,NaN
352,en/p70/d2142,Their daughter Chelsea was born in 1980.,NaN,NaN
626,en/p90/d3408,"I aim at ducks, but I don't shoot them.",NaN,NaN
26,en/p60/d2141,There are a lot of tattoos on her body.,NaN,NaN
530,en/p90/d0877,Alexander is not younger than Vladimir.,NaN,NaN

In [12]:
df[df.error.notnull()]

,pmb_id,source,raw_sent,sbn_str,error,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
26,en/p60/d2141,SEQ2SEQ,There are a lot of tattoos on her body.,NaN,Invalid token found '-1' in line: female.n.02 ...,NaN,NaN,NaN,NaN,NaN,NaN
79,en/p60/d1396,SEQ2SEQ,How many people visited Disneyland in 1999?,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
93,en/p60/d0916,SEQ2SEQ,He's a DJ.,NaN,"Invalid token found '""Vegas""' in line: person....",NaN,NaN,NaN,NaN,NaN,NaN
164,en/p50/d1390,SEQ2SEQ,How old is Deng Xiaoping?,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
170,en/p50/d3050,SEQ2SEQ,There are always a lot of vehicles on this road.,NaN,'type',NaN,NaN,NaN,NaN,NaN,NaN
337,en/p50/d2786,SEQ2SEQ,How many letters does the Russian alphabet have?,NaN,"Invalid token found '""russia""' in line: alphab...",NaN,NaN,NaN,NaN,NaN,NaN
352,en/p70/d2142,SEQ2SEQ,Their daughter Chelsea was born in 1980.,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
374,en/p70/d0711,SEQ2SEQ,The University of Milan was founded by Gian An...,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
451,en/p70/d2880,SEQ2SEQ,I've ordered a book from Amazon.com.,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
452,en/p70/d2092,SEQ2SEQ,Chopin is my favorite composer.,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
485,en/p70/d2783,SEQ2SEQ,The man dancing on the stage is my uncle.,NaN,Invalid token found '-1' in line: man.n.01 EQU...,NaN,NaN,NaN,NaN,NaN,NaN
530,en/p90/d0877,SEQ2SEQ,Alexander is not younger than Vladimir.,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
567,en/p90/d2989,SEQ2SEQ,Tom doesn't drink alcoholic drinks at all.,NaN,'type',NaN,NaN,NaN,NaN,NaN,NaN
569,en/p90/d0918,SEQ2SEQ,Extremely loud music interrupted their convers...,NaN,Invalid token found '-1' in line: extremely.r....,NaN,NaN,NaN,NaN,NaN,NaN
626,en/p90/d3408,SEQ2SEQ,"I aim at ducks, but I don't shoot them.",NaN,Invalid token found '-3' in line: shoot.v.01 -3,NaN,NaN,NaN,NaN,NaN,NaN
677,en/p80/d1391,SEQ2SEQ,Where does Nnenna Freelon live?,NaN,pop from empty list,NaN,NaN,NaN,NaN,NaN,NaN
752,en/p80/d3027,SEQ2SEQ,They have plenty of time.,NaN,Invalid token found '-1' in line: person.n.01 ...,NaN,NaN,NaN,NaN,NaN,NaN
765,en/p80/d2670,SEQ2SEQ,The seeds have germinated.,NaN,"Invalid token found '""Nara""' in line: ""Nara""",NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
print(df[df.pmb_id == 'en/p80/d2937'].sbn_str.tolist())

['female.n.02\ndie.v.01     Patient -1 Time +1 Causer +2\ntime.n.08    TPR now\nbulimia.n.01']